<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
	layout:decorate="~{layout/innerlayout}">
<html lang="en">
   <head>
     
   </head>
<body>
<div layout:fragment="content">
      <div id="fb-root"></div>
      
    <table class="table table-striped table-bordered fs-7 fw-normal">
						<thead class="bg-blue text-white">
						   <tr>
							  <th width="5%">Sr. No.</th>
							  <th width="25%">Scheme</th>
							  <th width="20%">Bureau Head (AS/JS)</th>
							  <th width="20%">Director/ DS</th>
							  <th width="20%">Under Secretary</th>
						   </tr>
						</thead>
						<tbody class="border-top-0">
						   <tr>
							  <td>1</td>
							  <td>Scheme of Grant in Aid to Voluntary Organisations working for Scheduled Castes (SC)</td>
							  <td>Sh. Biswaranjan Sasmal, JS<br>
								 e-Mail : jsscd-msje[at]nic[dot]in <br>
							  </td>
							  <td>Shri Mahesh Kumar Meena<br>
								 Tel. No. 011-23381643<br>
								 e-Mail : mkmeena[dot]edu[at]nic[dot]in<br>
							  </td>
							  <td>Shri Rakesh Kumar<br>
								 Tel. No.011-20863276 <br>
								 e-Mail : rakesh[dot]kr04[at]gov[dot]in<br>
							  </td>
						   </tr>
						   <tr>
							  <td>2</td>
							  <td>National Action Plan for Senior Citizen (NAPSrC)</td>
							  <td>Ms. Monali P. Dhakate, JS<br>
								 e-Mail : jssrc-msje[at]gov[dot]in <br>
							  </td>
							  <td>Shri Surajit Dutta<br>
								 Tel. No. 011-23388519<br>
								 e-Mail : s[dot]dutta[at]nic[dot]in<br>
							  </td>
							  <td>Ms Bharati Gusain<br>
								 Tel. No. 011-23383256<br>
								 e-Mail : bharati[dot]gusain[at]nic[dot]in<br>
							  </td>
						   </tr>
						   <tr>
							  <td>3</td>
							  <td>National Action Plan for Drug Demand Reduction (NAPDDR)</td>
							  <td>Ms. Radhika Chakravarthy, JS<br>
								 e-Mail : jssd-msje[at]nic[dot]in<br>
							  </td>
							  <td>
								 Shri Rajesh K Makkar<br>
								 Tel. No. 011-23070354<br>
								 e-Mail: rajesh[dot]makkar[at]nic[dot]in<br><br>
								 Shri Narendra Singh<br>
									 <br>
									e-Mail: narendra[dot]singh64[at]gov[dot]in<br>
							  </td>
							  <td>Shri Rajeev Kumar<br>
								 Tel. No. 011-23385171<br>
								 e-Mail: rajeev[dot]swati[at]nic[dot]in<br><br>
								 Ms Sunita Bhandari<br>
								 Tel. No. 011-23070386<br>
								 e-Mail: sunita[dot]bhandari[at]gov[dot]in<br>
								 (Work of SMILE and NMBA in DP Division)
							  </td>
						   </tr>
						   <tr>
							  <td>4</td>
							  <td>Free Coaching Scheme for SC and OBC students.</td>
							  <td>Sh. Biswaranjan Sasmal, JS<br>
								 e-Mail : jsscd-msje[at]nic[dot]in <br>
							  </td>
							  <td>Shri Sanjay Gupta, DS<br>
								 Tel. No. 011-23070251<br>
								 e-Mail : sanjayg[dot]edu[at]nic[dot]in<br>
							  </td>
							  <td>Shri Praveen Kr. Tripathi<br>
								 Tel No. 011-23389368<br>
								 e-Mail: pravin[dot]tripathi[at]nic[dot]in<br>
							  </td>
						   </tr>
						   <tr>
							  <td>5</td>
							  <td>Deendayal Disabled Rehabilitation Scheme to Promote Voluntary Action for Persons with Disabilities (DDRS)</td>
							  <td><!-- Ms.Tarika Roy, JS<br>
								 e-Mail : roy[dot]tarika[at]gov[dot]in <br> -->
							  </td>
							  <td>Ms. Beena E. Chakravarty, DS<br>
								 Tel. No. 011-24304391<br>
								 e-Mail : beena[dot]elizabeth[at]gov[dot]in<br>
							  </td>
							  <td>Shri Sanjay Singh<br>
								 Tel. No. 011-26162111<br>
								 e-Mail : sanjay[dot]singh72[at]nic[dot]in<br>
							  </td>
						   </tr>
						   <tr>
							  <td>6</td>
							  <td>Assistance to Disabled Persons for Purchase/ Fitting of Aids and Appliances (ADIP)</td>
							  <td><!-- Dr. Prabodh Seth, JS<br>
								 e-Mail : jsda-msje[at]nic[dot]in<br> -->
							  </td>
							  <td>Ms. Beena E. Chakravarty, DS<br>
								 Tel. No. 011-24365053<br>
								 e-Mail : beena[dot]elizabeth[at]gov[dot]in<br>
							  </td>
							  <td>Shri S.K. Mahto<br>
								 Tel. No. 011-24369027<br>
								 e-Mail : sk[dot]mahto[at]nic[dot]in<br>
							  </td>
						   </tr>
						   <tr>
							  <td>7</td>
							  <td> NIC</td>
							  <td>Ms Arpita Barman, STD<br>
								e-Mail : arpita[dot]burman[at]nic[dot]in<br>
							  <br>Shri Bhuwan Chandra Mishra, STD<br>
								e-Mail : bcmishra[at]nic[dot]in<br>
							  </td>
							  <td>Shri  S. D. Sharma, TD<br>
								 Tel No. 011-23381930<br>
								 e-Mail : sharma[dot]sd[at]nic[dot]in<br>
							  </td>
							  <td></td>
						   </tr>
						</tbody>
					</table>

      <!--/#skipCont-->
     
      <!--/.body-wrapper-->
 </div>
      <!--/.carousel-wrapper-->
      <footer class="wrapper footer-wrapper">
         <div class="footer-top-wrapper">
            <div class="container common-container four_content footer-top-container">
               <ul>
                  <li><a href="#">Feedbackddfgd</a></li>
                  <li><a href="#">Website Policies </a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Web Information Manager </a></li>
                  <li><a href="#">FAQ’s</a></li>
                  <li><a href="#">Disclaimer</a></li>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
               </ul>
            </div>
         </div>
         <div class="footer-bottom-wrapper">
            <div class="container common-container four_content footer-bottom-container">
               <div class="footer-content clearfix">
                  <div class="copyright-content"> 
                     Website Content Managed by <strong>Department Name, Ministry Name, <a target="_blank" title="GoI, External Link that opens in a new window" href="https://www.india.gov.in/"><strong>Government of India</strong></a></strong> 
                     <span>Designed, Developed and Hosted by <a target="_blank" title="NIC, External Link that opens in a new window" href="https://www.nic.in/"><strong>National Informatics Centre</strong></a><strong> (NIC)</strong></span>
                     <span class="last-updated">Last Updated: <span id="lastupdated"></span></span>
                  </div>

                  <div class="logo-cmf"> <a target="_blank" title="External link that opens in new tab, cmf" href="http://cmf.gov.in/"><img alt="cmf logo" src="assets/images/cmf-logo.png"></a> </div>
               </div>
            </div>
         </div>
         
      </footer>
      <!--/.footer-wrapper-->
      <!-- jQuery v1.11.1 -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" integrity="sha512-nhY06wKras39lb9lRO76J4397CH1XpRSLfLJSftTeo3+q2vP7PaebILH9TqH+GRpnOhfAGjuYMVmVTOZJ+682w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- jQuery Migration v1.4.1 -->
      <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
      <!-- jQuery v3.6.0 -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- jQuery Migration v3.4.0 -->
      <script src="https://code.jquery.com/jquery-migrate-3.4.0.min.js"></script>
      
      <script src="assets/js/jquery-accessibleMegaMenu.js"></script>
      <script src="assets/js/framework.js"></script>
      <script src="assets/js/jquery.flexslider.js"></script>
      <script src="assets/js/font-size.js"></script>
      <script src="assets/js/swithcer.js"></script>
      <script src="theme/js/ma5gallery.js"></script>
      <script src="assets/js/megamenu.js"></script>
      <script src="theme/js/easyResponsiveTabs.js"></script>
      <script src="theme/js/custom.js"></script>
     <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

      <script>
         var d = new Date();
         var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
         document.getElementById("lastupdated").innerHTML = months[d.getMonth()]+" "+ d.getDate()+", "+d.getFullYear();
      </script>
      
      <script>
         $(document).ready(function() {

         });
      </script>
      </div>
   </body>
</html>